<div style="margin-top: 6%;"><p style="
font-family: Inter;
font-size: 36px;
font-weight: 800;
line-height: 40px;
letter-spacing: -0.025em;
text-align: center;
">Основные товары</p>
</div>
<div class="row row-cols-1 row-cols-md-3 g-3" style="margin-top: 41px; margin-left: 0.5%; margin-right: 0.5%; margin-right: 1%;">
  <div class="col" *ngFor="let main of getdata.mains">
    <div class="card h-100" (click)="open(main.id)" style="border-radius: 2em; box-shadow: 0 5px 10px rgba(0,0,0,.2);">
      <img src={{main.image}} class="card-img-top" alt="..." height="300px" style="border-radius: 2em 2em 0 0;">
        <div class="card-body" >
          <h5 class="card-title">{{main.title}}</h5>
          <p class="card-text">{{main.price}}$</p>
        </div>
    </div>
  </div> 
</div>
<router-outlet></router-outlet>