<table class="table-bordered">
    <thead>
      <tr>
        <th scope="col">&nbsp;userId&nbsp;</th>
        <th scope="col">&nbsp;id&nbsp;</th>
        <th scope="col">&nbsp;title</th>
        <th scope="col">&nbsp;body</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center;">{{ comment2.userId }}</th>
        <td style="text-align: center;">{{ comment2.id }}</td>
        <td style="text-align: center;">&nbsp;{{ comment2.title }}&nbsp;</td>
        <td style="text-align: center;">&nbsp;{{ comment2.body }}&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <a routerLink="/" class="btn btn-link">На главную</a>