<table class="table-bordered" contenteditable="false">
    <thead>
      <tr>
        <th scope="col">&nbsp;userId&nbsp;</th>
        <th scope="col">&nbsp;id&nbsp;</th>
        <th scope="col">&nbsp;title</th>
        <th scope="col">&nbsp;body</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center;">{{ comment1.userId }}</th>
        <td style="text-align: center;">{{ comment1.id }}</td>
        <td style="text-align: center;">&nbsp;{{ comment1.title }}&nbsp;</td>
        <td style="text-align: center;">&nbsp;{{ comment1.body }}&nbsp;</td>
      </tr>
    </tbody>
  </table>
<br>
<a routerLink="/edit" class="btn btn-primary" >Редактировать</a>

  <a routerLink="/" class="btn btn-link">На главную</a>

  <router-outlet></router-outlet>